
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-cancel-circle:before { content: '\e806'; } /* '' */
.icon-minus-circle:before { content: '\e807'; } /* '' */
.icon-plus-circle:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-attach:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-down-circle:before { content: '\e80e'; } /* '' */
.icon-up-circle:before { content: '\e80f'; } /* '' */
.icon-terminal:before { content: '\e810'; } /* '' */
.icon-cw-circle:before { content: '\e811'; } /* '' */
.icon-pinterest:before { content: '\e814'; } /* '' */
.icon-reddit:before { content: '\e815'; } /* '' */
.icon-skype:before { content: '\e816'; } /* '' */
.icon-stackoverflow:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-vimeo:before { content: '\e81a'; } /* '' */
.icon-youtube:before { content: '\e81c'; } /* '' */
.icon-phone:before { content: '\e81d'; } /* '' */
.icon-inbox:before { content: '\e81e'; } /* '' */
.icon-megaphone:before { content: '\e81f'; } /* '' */
.icon-fire:before { content: '\e820'; } /* '' */
.icon-off:before { content: '\e821'; } /* '' */
.icon-play:before { content: '\e822'; } /* '' */
.icon-volume-down:before { content: '\e823'; } /* '' */
.icon-volume-off:before { content: '\e824'; } /* '' */
.icon-volume:before { content: '\e825'; } /* '' */
.icon-volume-up:before { content: '\e826'; } /* '' */
.icon-folder:before { content: '\e827'; } /* '' */
.icon-folder-close:before { content: '\e828'; } /* '' */
.icon-folder-open:before { content: '\e829'; } /* '' */
.icon-comment-alt:before { content: '\e82b'; } /* '' */
.icon-music:before { content: '\e82c'; } /* '' */
.icon-mail:before { content: '\e82d'; } /* '' */
.icon-heart:before { content: '\e82e'; } /* '' */
.icon-lightbulb:before { content: '\e82f'; } /* '' */
.icon-lightbulb-1:before { content: '\e830'; } /* '' */
.icon-th-large:before { content: '\e831'; } /* '' */
.icon-adjust:before { content: '\e832'; } /* '' */
.icon-dropbox:before { content: '\e833'; } /* '' */
.icon-duckduckgo:before { content: '\e834'; } /* '' */
.icon-call:before { content: '\e835'; } /* '' */
.icon-android:before { content: '\e836'; } /* '' */
.icon-chrome:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-dribbble:before { content: '\e83a'; } /* '' */
.icon-heart-1:before { content: '\e83b'; } /* '' */
.icon-megaphone-1:before { content: '\e83c'; } /* '' */
.icon-mail-1:before { content: '\e83d'; } /* '' */
.icon-location:before { content: '\e83e'; } /* '' */
.icon-comment:before { content: '\e83f'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-tumblr-1:before { content: '\f311'; } /* '' */
.icon-blogger-rect:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */